name: Build Android APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Set up Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.0' # Adjust as needed
        channel: 'stable'

    - name: Get Dependencies
      working-directory: ./frontend
      run: flutter pub get

    - name: Build APK
      working-directory: ./frontend
      run: flutter build apk --release --split-per-abi=false # Universal APK

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: release-apk
        path: frontend/build/app/outputs/flutter-apk/app-release.apk
